/*COLORS*/
.color {
    color: #ffffff;
    background-color: #9368E9;
    border-color: #9368E9;
}
.color:hover{
    color: #ffffff;
    background-color: #943bea ;
    border-color: #943bea ;
}
.portlet-color {
    border: 1px solid #cccccc;
    background-color: #9368E9;
}

.btn-edit {
    color: #ffffff;
    background-color: #1DC7EA;
    border-color: #1DC7EA;
}
.btn-edit:hover{
    color: #ffffff;
    background-color: #42d0ed;
    border-color: #42d0ed;
}
.btn-pass{
    color: #ffffff;
    background-color: #17c4bb;
    border-color: #17c4bb;
}

.btn-add {
    margin-bottom: -65px;
}
.btn-save{
    color: #ffffff;
    background-color: #E34D76;
    border-color: #E34D76;
}
.btn-save:hover{
    color: #ffffff;
    background-color: #E34D76;
    border-color: #E34D76;
}
.btn-delete {
    color: #ffffff;
    background-color: #FF4A55;
    border-color: #FF4A55;
}
.btn-delete:hover{
    color: #ffffff;
    background-color: #e73d4a;
    border-color: #e73d4a;
}
.font-color {
    color: #9368E9 !important;
}

ol.vertical li {
    border: 1px solid #cccccc;
    color: #9368E9;
    background: #eeeeee;
}
/*layout.css*/
.page-header-fixed .page-container {
    margin-top: 45px;
    /*margin-right: 15px;*/
}

/*bootstrap.min.css*/
a{color: #9368E9;}
a:focus,a:hover{color: #943bea;}
.btn-primary{color:#fff;background-color: #9368E9;border-color:#9368E9}
.btn-primary.focus,.btn-primary:focus{color:#fff;background-color: #943bea;border-color:#943bea}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,.open>.btn-primary.dropdown-toggle{color:#fff;background-color:#513874;border-color:#204d74}


/*components.css*/
.portlet.box > .portlet-title {
    color: #ffffff; }
.portlet.box > .portlet-title > .tools > a.fullscreen {
    color: #fdfdfd; }
.portlet.box > .portlet-body {
    background-color: #ffffff; }
/* Important :D */
.portlet.box.portlet-color > .portlet-title > .actions .btn-default {
    background-color: #9368E9;
    border: 1px solid #ffffff;
    color: #ffffff; }
.portlet.box.portlet-color > .portlet-title > .actions .btn-default > i {
    color: #fff; }
.portlet.box.portlet-color > .portlet-title > .actions .btn-default:hover, .portlet.box.portlet-color > .portlet-title > .actions .btn-default:focus, .portlet.box.portlet-color > .portlet-title > .actions .btn-default:active, .portlet.box.portlet-color > .portlet-title > .actions .btn-default.active {
    border: 1px solid #ffffff;
    color: #fff; }

.portlet.box.portlet-color > .portlet-title {
    background-color: #9368E9;
}

/*style.css*/
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    -webkit-border-radius: 40px !important;
    border-radius: 40px !important;
    border-radius: 50% !important;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 0;
    }
}

.shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mt-radio > span, .mt-checkbox > span {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.ob
.objective_drag,.objective_drag:hover{
    background-color: #9368E9;
    color: #fff;
}

.remove_objective{
    border: 1px solid #acb9ca;
    color: #bbc7d4;
}
.remove_objective:hover{
    color: #fff;
    border-color:#fff;
}

.dd-item > button{
    color:#fff;
}
.mt-element-list .list-simple.mt-list-container ul{
    background:#fff;
}

/* j-forms.css*/

.j-forms {
	background-color: #ffffff;
}
.j-forms .link {
	border-bottom:1px solid #90caf9;
	color:#1e88e5;
}
.j-forms .header {
	background-color:#9368E9;
	border-top: none /*1px solid #943bea*/;
	-webkit-box-shadow:0 ;
	-moz-box-shadow:0;
	-o-box-shadow:0 ;
	box-shadow:0 ;
}
.j-forms .footer {
	background-color:transparent;
	border-top:none /*1px solid #9368E9*/;
}

/* Dividers
=============================== */
.j-forms .divider,
.j-forms .divider-text { border-top:1px solid #9368E9; height:0; }
.j-forms .divider-text span {
    border:1px solid#ffffff;
    background-color:#9368E9;
    color:#ffffff;
}
.j-forms .checkbox-toggle {
    color:rgba(0,0,0,.87);
}
.j-forms .radio-toggle i {
    background-color: #fff;
    border: 2px solid #fff;
}
.j-forms .radio i:after {
    background-color: #943bea;
}
.j-forms .checkbox i:after {
    border-bottom: solid #9368E9;
    border-left: solid #9368E9;
}
.j-forms .radio-toggle i:before {
    background-color: #943bea;
}
.j-forms .radio input:checked + i,
.j-forms .checkbox input:checked + i,
.j-forms .radio-toggle input:checked + i,
.j-forms .checkbox-toggle input:checked + i { border:2px solid #9368E9; }

.j-forms .radio input:checked + i,
.j-forms .checkbox input:checked + i { color:#9368E9; }

.j-forms .checkbox-toggle input:checked + i,
.j-forms .radio-toggle input:checked + i { background-color:#e8eaf6; }
.j-forms .widget .addon,
.j-forms .widget .addon-btn {
    background: #e0e0e0;
    color: rgba(0, 0, 0, .56);
}
.j-forms .widget .addon-btn:focus { background-color:#d6d6d6; color:rgba(0,0,0,.87); }
.j-forms .widget .addon-btn:focus i { color:rgba(0,0,0,.61); }
.j-forms .widget .addon-btn i { color:rgba(0,0,0,.34); font-size:17px; z-index:2; }


/* Inputs
=============================== */
.j-forms input[type="text"],
.j-forms input[type="password"],
.j-forms input[type="email"],
.j-forms input[type="search"],
.j-forms input[type="url"],
.j-forms textarea,
.j-forms select {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .87);
}
/*.j-forms select:hover { border:2px solid #943bea; }*/

.j-forms input[type="submit"]:hover { background-color: #943bea; }

.j-forms input[type="text"]:hover,
.j-forms input[type="password"]:hover,
.j-forms input[type="email"]:hover,
.j-forms input[type="search"]:hover,
.j-forms input[type="url"]:hover,
.j-forms textarea:hover,
.j-forms select:hover {  border:2px solid #9368E9; }

.j-forms input[type="text"]:focus,
.j-forms input[type="password"]:focus,
.j-forms input[type="email"]:focus,
.j-forms input[type="search"]:focus,
.j-forms input[type="url"]:focus,
.j-forms textarea:focus,
.j-forms select:focus {  border:2px solid #943bea; }
/* Placeholders
=============================== */
.filenameplaceholder {
    color: #9368E9;
}
.j-forms input::-webkit-input-placeholder,
.j-forms textarea::-webkit-input-placeholder { color:rgba(0,0,0,.54); }

.j-forms input::-moz-placeholder,
.j-forms textarea::-moz-placeholder { color:rgba(0,0,0,.54); }

.j-forms input:-moz-placeholder,
.j-forms textarea:-moz-placeholder { color:rgba(0,0,0,.54); }

.j-forms input:-ms-input-placeholder,
.j-forms textarea:-ms-input-placeholder { color:rgba(0,0,0,.54); }

.j-forms input:focus::-webkit-input-placeholder,
.j-forms textarea:focus::-webkit-input-placeholder { color:rgba(0,0,0,.36); }

.j-forms input:focus::-moz-placeholder,
.j-forms textarea:focus::-moz-placeholder { color:rgba(0,0,0,.36); }

.j-forms input:focus:-moz-placeholder,
.j-forms textarea:focus:-moz-placeholder { color:rgba(0,0,0,.36); }

.j-forms input:focus:-ms-input-placeholder,
.j-forms textarea:focus:-ms-input-placeholder { color:rgba(0,0,0,.36); }


/* Select
=============================== */
.j-forms .select i {
    background:#fff;
    -webkit-box-shadow:0 0 0 11px #fff;
    -moz-box-shadow:0 0 0 11px #fff;
    -o-box-shadow:0 0 0 11px #fff;
    box-shadow:0 0 0 11px #fff;
}
.j-forms .select i:after { border-top:6px solid rgba(0,0,0,.4); bottom:1px; }

.j-forms .select i:before { border-bottom:6px solid rgba(0,0,0,.4); top:3px; }

/* Icons
=============================== */
.j-forms .icon-left,
.j-forms .icon-right {
    color: rgba(0, 0, 0, .54);
}

.j-forms .icon-left {
    border-right: 1px solid rgba(0, 0, 0, .54);
    left: 3px;
}

.j-forms .icon-right {
    border-left: 1px solid rgba(0, 0, 0, .54);
    right: 3px;
}

/* Buttons
=============================== */
.j-forms .primary-btn,
.j-forms .secondary-btn {
    color: #fff;
}
.j-forms .file-button {
    color: #fff;
}
.j-forms .primary-btn,
.j-forms .file-button,
.j-forms .secondary-btn {
    background: #9368E9;
}
.j-forms .secondary-btn:hover { background:#943bea; }

.j-forms .primary-btn:hover.processing { background:#9368E9; cursor:wait; }

.j-forms .file-button:hover + input { border:2px solid #943bea; }
.j-forms .primary-btn.processing:before {
    background: #943bea;
}


/* Tooltip
=============================== */
.j-forms .tooltip,
.j-forms .tooltip-image {
    background-color: #9368E9;
}

.j-forms .tooltip {
    color: #fff;
}

.j-forms .tooltip-left-top:before {
    border-color: #9368E9 transparent;
}
.j-forms .tooltip-right-top:before {
    border-color: #9368E9 transparent;
}
.j-forms .tooltip-left-bottom:before {
    border-color: #9368E9 transparent;
}
.j-forms .tooltip-right-bottom:before {
    border-color: #9368E9 transparent;
}

.j-forms .tooltip-right-side:before {
    border-color: transparent #9368E9;
}
.j-forms .tooltip-left-side:before {
    border-color: transparent #9368E9;
}
.j-forms .widget.disabled-view input,
.j-forms .input.disabled-view input,
.j-forms .input.disabled-view textarea,
.j-forms .select.disabled-view select { border-color:#fff !important; }

.j-forms .checkbox.disabled-view i,
.j-forms .radio.disabled-view i,
.j-forms .checkbox-toggle.disabled-view i,
.j-forms .radio-toggle.disabled-view i { border-color:#fff !important; }

.j-forms .primary-btn.disabled-view,
.j-forms .secondary-btn.disabled-view,
.j-forms .disabled-view .file-button { background:#9368E9; }

.j-forms .widget.disabled-view .addon-btn:hover,
.j-forms .widget.disabled-view .addon-btn:focus { background:#e0e0e0; cursor:default; color:rgba(0,0,0,.56); }

.j-forms .widget.disabled-view .addon-btn i { color:rgba(0,0,0,.24) !important; }

/* Error state
=============================== */
.j-forms .error-view .checkbox i,
.j-forms .error-view .radio i,
.j-forms .error-view .checkbox-toggle i,
.j-forms .error-view .radio-toggle i,
.j-forms .error-view input,
.j-forms .error-view select,
.j-forms .error-view textarea {
    background: #ffebee !important;
}

.j-forms .select.error-view i {
    background-color: #ffebee;
    -webkit-box-shadow: 0 0 0 12px #ffebee;
    -moz-box-shadow: 0 0 0 12px #ffebee;
    -o-box-shadow: 0 0 0 12px #ffebee;
    box-shadow: 0 0 0 12px #ffebee;
}

.j-forms .error-view .icon-left,
.j-forms .error-view .icon-right {
    border-color: #e57373;
}

.j-forms .error-view .icon-left,
.j-forms .error-view .icon-right,
.j-forms span.error-view,
.j-forms .error-message i {
    color: #FF4A55;
}

.j-forms .error-message {
    background: #fff;
    border-color: #FF4A55;
    color: #FF4A55;
}

.error_message {
    color: #FF4A55;
}

/* Success state
=============================== */
.j-forms .success-view .checkbox i,
.j-forms .success-view .radio i,
.j-forms .success-view .checkbox-toggle i,
.j-forms .success-view .radio-toggle i,
.j-forms .success-view input,
.j-forms .success-view select,
.j-forms .success-view textarea {
    background: #e8f5e9 !important;
}

.j-forms .select.success-view i {
    background-color: #e8f5e9;
    -webkit-box-shadow: 0 0 0 12px #e8f5e9;
    -moz-box-shadow: 0 0 0 12px #e8f5e9;
    -o-box-shadow: 0 0 0 12px #e8f5e9;
    box-shadow: 0 0 0 12px #e8f5e9;
}

.j-forms .success-view .icon-left,
.j-forms .success-view .icon-right {
    border-color: #81c784;
}

.j-forms .success-view .icon-left,
.j-forms .success-view .icon-right,
.j-forms span.success-view,
.j-forms .success-message i {
    color: #1b5e20;
}

.j-forms .success-message {
    background: #e8f5e9;
    border-color: #1b5e20;
    color: #1b5e20;
}

/* Warning state
=============================== */
.j-forms .warning-view .checkbox i,
.j-forms .warning-view .radio i,
.j-forms .warning-view .checkbox-toggle i,
.j-forms .warning-view .radio-toggle i,
.j-forms .warning-view input,
.j-forms .warning-view select,
.j-forms .warning-view textarea {
    background: #fff8e1 !important;
}

.j-forms .select.warning-view i {
    background-color: #fff8e1;
    -webkit-box-shadow: 0 0 0 12px #fff8e1;
    -moz-box-shadow: 0 0 0 12px #fff8e1;
    -o-box-shadow: 0 0 0 12px #fff8e1;
    box-shadow: 0 0 0 12px #fff8e1;
}

.j-forms .warning-view .icon-left,
.j-forms .warning-view .icon-right {
    border-color: #f9a825;
}

.j-forms .warning-view .icon-left,
.j-forms .warning-view .icon-right,
.j-forms span.warning-view,
.j-forms .warning-message i {
    color: #f57f17;
}

.j-forms .warning-message {
    background: #fff8e1;
    border-color: #f57f17;
    color: #f57f17;
}

/* Info state
=============================== */
.j-forms .info-view .checkbox i,
.j-forms .info-view .radio i,
.j-forms .info-view .checkbox-toggle i,
.j-forms .info-view .radio-toggle i,
.j-forms .info-view input,
.j-forms .info-view select,
.j-forms .info-view textarea {
    background: #e1f5fe !important;
}

.j-forms .select.info-view i {
    background-color: #e1f5fe;
    -webkit-box-shadow: 0 0 0 12px #e1f5fe;
    -moz-box-shadow: 0 0 0 12px #e1f5fe;
    -o-box-shadow: 0 0 0 12px #e1f5fe;
    box-shadow: 0 0 0 12px #e1f5fe;
}

.j-forms .info-view .icon-left,
.j-forms .info-view .icon-right {
    border-color: #0288d1;
}

.j-forms .info-view .icon-left,
.j-forms .info-view .icon-right,
.j-forms span.info-view,
.j-forms .info-message i {
    color: #01579b;
}

.j-forms .info-message {
    background: #e1f5fe;
    border-color: #01579b;
    color: #01579b;
}

/* Ratings
==================================== */
.j-forms .rating-group {
    color: rgba(0, 0, 0, .87);
    height: 30px;
    line-height: 30px;
    margin-bottom: 4px;
}

.j-forms .ratings input + label {
    color: rgba(0, 0, 0, .26);
}

.j-forms .ratings input + label:hover,
.j-forms .ratings input + label:hover ~ label,
.j-forms .ratings input:checked + label,
.j-forms .ratings input:checked + label ~ label {
    color: #9368E9 ;
}

/* Social links
==================================== */
.j-forms .social-btn i,
.j-forms .social-icon i {
    background-color: rgba(0, 0, 0, .15);
    color: #fff;
}

.j-forms .social-btn button,
.j-forms .social-icon button {
    color: #fff;
}

/* Captcha
=============================== */
.j-forms .captcha-group .captcha {
    background-color: #e0e0e0;
}

/* Stepper
=============================== */
.j-forms .stepper .stepper-arrow {
    background-color: #e0e0e0;
}

.j-forms .stepper .stepper-arrow:hover {
    background-color: #d6d6d6;
}

.j-forms .stepper .stepper-arrow.down:after {
    border-top: 7px solid rgba(0, 0, 0, .56);
    bottom: 13px;
}

.j-forms .stepper .stepper-arrow.up:after {
    border-bottom: 7px solid rgba(0, 0, 0, .56);
    top: 13px;
}

.j-forms .stepper .stepper-arrow:hover.down:after {
    border-top: 7px solid rgba(0, 0, 0, .87);
}

.j-forms .stepper .stepper-arrow:hover.up:after {
    border-bottom: 7px solid rgba(0, 0, 0, .87);
}

/* Datapicker and Timepicker
=============================== */
.ui-datepicker {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .26);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .54);
}

.ui-datepicker-header {
    background-color: #f0f0f0;
}

.ui-datepicker-calendar th span {
    color: rgba(0, 0, 0, .26);
    font-weight: lighter;
}

.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
    color: rgba(0, 0, 0, .54);
}

.ui-datepicker-calendar a:hover,
.ui-datepicker-calendar .ui-state-active {
    background-color: #e0e0e0;
}

.ui-datepicker-today a {
    outline: 1px solid rgba(0, 0, 0, .54);
}

.ui-datepicker-inline {
    border: 2px solid rgba(0, 0, 0, .12);
}

.ui-state-disabled span {
    color: rgba(0, 0, 0, .26);
}

.ui-timepicker-div .ui-widget-header {
    background-color: #f0f0f0;
    margin-bottom: 8px;
    padding: 10px 0;
}

.ui-timepicker-div dl {
    border-top: 1px solid rgba(0, 0, 0, .26);
}

.ui-datepicker-buttonpane {
    border-top: 1px solid rgba(0, 0, 0, .26);
}

.ui-datepicker-buttonpane button {
    background: #e0e0e0;
    color: rgba(0, 0, 0, .56);
}

.ui-datepicker-buttonpane button:hover {
    background: #d6d6d6;
    color: rgba(0, 0, 0, .87);
}

/* jQuery Slider
=============================== */
.ui-slider .ui-slider-handle {
    background-color: #e0e0e0;
    border: 1px solid rgba(0, 0, 0, .36);
}

.ui-slider.ui-widget-content {
    background-color: #fff;
    border: 2px solid #e0e0e0;
}

.ui-slider-vertical .ui-widget-header,
.ui-slider-horizontal .ui-widget-header {
    background-color: #f0f0f0;
}

.j-forms .slider-group label {
    display: inline-block;
    color: rgba(0, 0, 0, .87);
    padding: 0 4px;
}

/* Multistep form
=============================== */
.j-forms .steps {
    border: 1px solid rgba(0, 0, 0, .12);
}

.j-forms .steps p {
    color: rgba(0, 0, 0, .56);
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
}

.j-forms .steps span {
    color: rgba(0, 0, 0, .56);
    font-size: 13px;
    height: 13px;
    line-height: 13px;
}

.j-forms .active-step .steps p {
    color: rgba(0, 0, 0, .87);
}

.j-forms .active-step .steps {
    background-color: #e8eaf6;
    border: 1px solid #9368E9 ;
}

.j-forms .passed-step .steps {
    border: 1px solid #e8eaf6;
    background-color: #e8eaf6;
}

/* Modal form
=============================== */
/* Settings for block with links */
.modal-block {
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    color: rgba(0, 0, 0, .54);
}

.modal-block .modal-link {
    border-bottom: 1px solid #9368E9;
    color: #943bea;
}

.modal-fill {
    background-color: rgba(103, 119, 129, .5);
}

.j-forms .modal-close {
    background-color: rgba(0, 0, 0, .3);
}

.j-forms .modal-close:hover,
.j-forms .modal-close:focus {
    background-color: rgba(0, 0, 0, .6);
}

.j-forms .modal-close i:before,
.j-forms .modal-close i:after {
    background-color: #fff;
}

/* Pop-up form
=============================== */
/* Popup menu forms */
.popup-list {
    background-color: #f9fafd;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

.popup-list > ul > li {
    border-left: 1px solid rgba(0, 0, 0, .12);
}

.popup-list > ul > li:hover {
    background-color: #e8eaf6;
}

.popup-btm-400 .popup-btm-label,
.popup-btm-640 .popup-btm-label {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    -o-box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    color: rgba(0, 0, 0, .87);
}

.popup-btm-400 .popup-btm-close,
.popup-btm-640 .popup-btm-close {
    background-color: rgba(0, 0, 0, .6);
}

.popup-btm-400 .popup-btm-close:hover,
.popup-btm-400 .popup-btm-close:focus,
.popup-btm-640 .popup-btm-close:hover,
.popup-btm-640 .popup-btm-close:focus {
    background-color: rgba(0, 0, 0, .8);
}

/*table pagination */
.pagination>.active>a,.pagination>.active>a:hover{
    color: #fff;
    background-color: #E34D76;
    border-color:#E34D76
}

.page-header.navbar .page-logo{
    /*background: #E34D76;*/
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active.open > a > i{
    color:#E34D76;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default{
    color:#fff;
    background-color:#E34D76;
}
.remove_question, .remove_answer{
    padding-bottom:8px;
    margin-top:-57px;
    margin-right:-20px;
}
.btn{
    float: right;
    line-height:1.55;
}
.page-header.navbar {
    /*background: #E34D76;*/
    border-bottom: 1px solid #e9ecf3;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    /*color: rgb(245, 245, 245);*/
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3,
.page-sidebar .page-sidebar-menu > li.heading > h3 {
    color: #9368E9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a {
    color: #3C4858;
}
@media (max-width: 991px) {
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a,
    .page-sidebar .page-sidebar-menu > li > a {
        /* 991px */
        border-top: 1px solid white;
    }
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a > i {
    color: #a9afbb;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #943bea;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li > a > .arrow.open:before {
    color: #a9afbb;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a,
.page-sidebar .page-sidebar-menu > li:hover > a,
.page-sidebar .page-sidebar-menu > li.open > a {
    background: #f2f6f9;
    color: #3C4858;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu > li.open > a > i {
    color: #a9afbb;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #9368E9;
    color: #f2f6f9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #9368E9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i,
.page-sidebar .page-sidebar-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu > li.active.open > a > i {
    color: #f2f6f9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu > li.active.open > a > .arrow.open:before {
    color: #9368E9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active > a {
    border-left: 3px solid #9368E9 !important;
    margin-left: -3px;
    padding-left: 15px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li > a > .arrow:before,
.page-sidebar .page-sidebar-menu li > a > .arrow.open:before {
    color: #9368E9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before {
    color: #943bea;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu li.active > a > .arrow.open:before {
    color: #943bea;
}
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu, .page-sidebar-closed
.page-sidebar .page-sidebar-menu:hover .sub-menu {
    background: #FFFFFF;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a,
.page-sidebar .page-sidebar-menu .sub-menu > li > a {
    color: #3C4858;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i {
    color: #a9afbb;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"],
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"] {
    color: #943bea;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li > a > .arrow.open:before {
    color: #3C4858;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
    color: #9368E9;
    background: #f2f6f9 !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > i,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > i {
    color: #9368E9;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.open > a > .arrow.open:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow:before,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a > .arrow.open:before {
    color: #943bea;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #9368E9;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #9368E9;
}
.tabbable-line > .nav-tabs > li.active {

    border-bottom: 4px solid #9368E9;
     }

/* Labels variants */
.label-default {
    background-color: #bac3d0; }
.label-default[href]:hover, .label-default[href]:focus {
    background-color: #9ca8bb; }

.label-primary {
    background-color: #337ab7; }
.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #286090; }

.label-success {
    background-color: #9368E9; }
.label-success[href]:hover, .label-success[href]:focus {
    background-color: #943bea; }

.label-info {
    background-color: #1DC7EA; }
.label-info[href]:hover, .label-info[href]:focus {
    background-color: #42d0ed; }

.label-warning {
    background-color: #F1C40F; }
.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #c29d0b; }

.label-danger {
    background-color: #e73d4a; }
.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #FF4A55; }
